
@{
    ViewData["Title"] = "Seja bem vindo ao Sistema de cadastro de clientes";
}

<div class="container">
  <h1>Bem vindo!</h1>
  <span>Esse &eacute; o projeto de avalição prática, com o intuito de mostrar conhecimentos e capacidades para desenvolvimento em C# e suas tecnologias.</span>
  <br/>
  <span>Utiliza Sqlite para salvar as informações, por ser um banco simples e que atenderia a demanda do projeto. O EntityFramework é utilizado como ORM pela praticidade com o .Net Core.</span>
</div>

